{% include 'header.html' %}

<div class="container mt-5">
    <!-- Sección: Sobre mí con imagen y texto -->
    <section id="sobre-mi" class="d-flex align-items-center">
        <div class="row">
            <!-- Imagen alineada a la izquierda -->
            <div class="col-md-4 text-center">
                <img src="{{ url_for('static', filename='images/Kiko_Amarillo_CARA.jpg') }}" alt="José Francisco González Amarillo" class="rounded-circle profile-image">
            </div>
            <!-- Texto alineado a la derecha -->
            <div class="col-md-8 d-flex align-items-center">
                <div>
                    <h1 class="display-4 nombre-completo">José Francisco González Amarillo</h1>
                    <p class="lead descripcion">Desarrollador de software con experiencia en Python y frameworks como Flask, Jinja y Bootstrap. Mi objetivo es especializarme en Python así como seguir aumentando conocimiento sobre otras tecnologías.</p>
                </div>
            </div>
        </div>
    </section>

    <hr class="my-4">

    <!-- Sección: Tecnologías y Herramientas en 2 filas -->
    <section id="tecnologias" class="mt-5">
        <h2 class="text-center">Tecnologías y Herramientas</h2>
        <div class="row justify-content-center mt-4">
            <!-- Primera fila de tecnologías -->
            <div class="col-12 d-flex justify-content-around mb-4">
                <div class="technology-item">
                    <i class="fab fa-python technology-icon"></i>
                    <p>Python</p>
                </div>
                <div class="technology-item">
                    <i class="fas fa-flask technology-icon"></i>
                    <p>Flask</p>
                </div>
                <div class="technology-item">
                    <i class="fas fa-code technology-icon"></i>
                    <p>Jinja</p>
                </div>
                <div class="technology-item">
                    <i class="fas fa-file-code technology-icon"></i>
                    <p>WTForms</p>
                </div>
                <div class="technology-item">
                    <i class="fas fa-paint-brush technology-icon"></i>
                    <p>Turtle</p>
                </div>
                <div class="technology-item">
                    <i class="fas fa-window-maximize technology-icon"></i>
                    <p>Tkinter</p>
                </div>
                <div class="technology-item">
                    <i class="fab fa-git technology-icon"></i>
                    <p>Git</p>
                </div>
                <div class="technology-item">
                    <i class="fab fa-github technology-icon"></i>
                    <p>GitHub</p>
                </div>
            </div>

            <!-- Segunda fila de tecnologías -->
            <div class="col-12 d-flex justify-content-around">
                <div class="technology-item">
                    <i class="fab fa-html5 technology-icon"></i>
                    <p>HTML</p>
                </div>
                <div class="technology-item">
                    <i class="fab fa-css3-alt technology-icon"></i>
                    <p>CSS</p>
                </div>
                <div class="technology-item">
                    <i class="fab fa-bootstrap technology-icon"></i>
                    <p>Bootstrap</p>
                </div>
                <div class="technology-item">
                    <i class="fab fa-java technology-icon"></i>
                    <p>Java</p>
                </div>
                <div class="technology-item">
                    <i class="fab fa-android technology-icon"></i>
                    <p>Kotlin</p>
                </div>
                <div class="technology-item">
                    <i class="fab fa-apple technology-icon"></i>
                    <p>Dart</p>
                </div>
                <div class="technology-item">
                    <i class="fas fa-database technology-icon"></i>
                    <p>MySQL</p>
                </div>
                <div class="technology-item">
                    <i class="fas fa-database technology-icon"></i>
                    <p>PostgreSQL</p>
                </div>
                <div class="technology-item">
                    <i class="fas fa-database technology-icon"></i>
                    <p>SQLite</p>
                </div>
                <div class="technology-item">
                    <i class="fas fa-database technology-icon"></i>
                    <p>SQLAlchemy</p>
                </div>
            </div>

            <!-- Sección: Aprendiendo -->
            <div class="col-12 mt-5">
                <h3 class="text-center">Aprendiendo...</h3>
                <div class="row justify-content-center mt-4">
                    <div class="col-12 d-flex justify-content-around">
                        <div class="technology-item">
                            <i class="fab fa-python technology-icon"></i>
                            <p>Django</p>
                        </div>
                        <div class="technology-item">
                            <i class="fab fa-js-square technology-icon"></i>
                            <p>JavaScript</p>
                        </div>
                        <div class="technology-item">
                            <span class="icon-csharp">
                                <i class="fas fa-c technology-icon"></i><span class="sharp-symbol">#</span>
                            </span>
                            <p>C#</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr class="my-4">

    <!-- Sección: Experiencia -->
    <section id="experiencia" class="mt-5">
    <h2 class="text-center">Experiencia Laboral</h2>
    <div class="row mt-4">
        <div class="col-12">
            <h4><strong>Junior Software Developer - Abaco Developments</strong></h4>
            <p>Abril 2024 - Junio 2024</p>
            <ul>
                <li>Desarrollé aplicaciones utilizando Python y FlySpeed SQL.</li>
                <li>Colaboré en la optimización de bases de datos y análisis de datos.</li>
                <li>Participé en el desarrollo de soluciones para mejorar la organización y trabajo en equipo.</li>
            </ul>
        </div>
    </div>
</section>

    <hr class="my-4">

    <!-- Sección: Formación -->
    <section id="formacion" class="mt-5">
        <h2>Formación</h2>
        <p><strong>Master Python Udemy Certificate</strong> - Bootcamp by Angela Yu | Junio 2024 - Agosto 2024</p>
        <p><strong>C.F.G.S. Desarrollo de Aplicaciones Multiplataforma</strong> - IES Vista Alegre | Septiembre 2022 - Junio 2024</p>
        <p><strong>Grado en Arte Dramático</strong> - E.S.A.D. de Sevilla | Septiembre 2015 - Junio 2019</p>
    </section>

</div>

{% include 'footer.html' %}
